<div class="modal-header bg-light">
    <span class="modal-title" id="modal-crear-comprador">Reservación a nombre de: <br> <strong>

            {{ reservacion?.cliente.nombre }} - <a
                [href]="'whatsapp://send?phone='
                +telefonoComprador(reservacion.cliente.telefono)+'&text=Hola!%20Su%20pedido%20se%20encuentra%20en%20la%20tienda'" (click)="cerramodo()"
                class="vinculo-falso">{{ reservacion.cliente.telefono }}</a>
            @if(reservacion.cliente.correo){
            - {{ reservacion.cliente.correo }}
            }
        </strong></span>
    <button type="button" class="btn-close" aria-label="Close" (click)="cerramodo()"></button>
</div>
<div class="modal-body">
    <div class="row">

        @if(reservacion?.comanda.reserva){
        <div class="col-auto">
            <span class="fw-bold">Status: </span><span
                [class]="reservacion?.comanda.reserva.estatus =='pagado' ? 'text-danger' : 'text-success'">
                {{reservacion?.comanda.reserva.estatus | uppercase}}</span><br>
        </div>
        <div class="col">
            <span class="fw-bold">Fecha: </span>{{ fecha }}
        </div>
        <div class="col-auto">
            <span class="fw-bold">Punto de Entrega: </span>{{ reservacion.comanda.locacion }}

        </div>
        }
    </div>
</div>
<div class="modal-body border-top border-bottom bg-light">
    <div class="row">
        <div class="col-4">
            <span class="text-primary fw-bold">Pedido</span>
        </div>
        <div class="col-8 text-end">
            Total: <strong>
                {{ total |currency:"US$ " }}
                @if (totalbs) {
                - <span class="text-primary"> {{ totalbs |currency:" Bs " }} </span>
                }
            </strong>
        </div>
    </div>
</div>
<ul class="list-group list-group-flush">
    @for (raso of reservacion.comanda.pedidos; track raso) {
    <li class="list-group-item">
        <div class="row">
            <div class="col-auto">
                <div class="fw-bold text-primary">{{ raso.cantidad }}</div>
            </div>
            <div class="col">
                <strong>{{raso?.producto }}</strong>&nbsp; <small class="text-primary">{{ raso?.unidad |
                    currency
                    }}</small> - <small class="text-primary fw-bold">{{ raso?.precio | currency
                    }}</small>
                <div *ngIf=" raso.observacion">
                    <em>Observaciones:</em>
                    {{raso.observacion}}
                </div>
            </div>
        </div>
    </li>
    }
</ul>
<div class="modal-footer">
    <div class="row w-100 justify-content-between">


    </div>
</div>