<style>

</style>
<div class="container">
    <div class="row">
        <div class="col-md-9 col-12 mb-3 order-last order-md-first">
            <div class="row">
                <div class="col-md-3">
                    <h1>Para Hoy </h1>
                </div>
                <div class="col-md-9">
                    <h1 class="text-primary">{{ hoy }} - <small class="text-dark">{{ reloj() | date: 'hh:mm a'
                            }}</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-auto text-center mb-3">
            <ngb-datepicker #dp (dateSelect)="reservaenCal($event)" (navigate)="date = $event.next"
                [dayTemplate]="customDay" class="w-100" [firstDayOfWeek]="1" [weekdays]="false"></ngb-datepicker>
            <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected"
                let-disabled="disabled" let-focused="focused" class="p-2">
                <span
                    class="custom-day border-primary h-100 d-flex align-items-center justify-content-center text-center"
                    [ngClass]="esFinde(date, selected, focused)">
                    {{ date.day }}
                </span>
            </ng-template>
        </div>
        <div class="col-12 col-md">
            <div class="table-responsive">


                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Locacion</th>
                            <th scope="col" colspan="2">Producto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for ( reser of reservas; track reser) {
                        <tr>
                            <td colspan="4" class="bg-light" (click)="verReserva(reser)">
                                <div class="row">
                                    <div class="col-12 order-1 order-md-0 col-md">
                                        Comprador: <strong class="text-primary">{{reser.cliente.nombre}}</strong> -
                                        Teléfono:
                                        <strong class="text-primary"><a target="_blank"
                                                [href]="'whatsapp://send?phone='+telefonoComprador(reser.cliente.telefono)+'&text=Hola!%20Su%20pedido%20se%20encuentra%20en%20la%20tienda'">{{reser.cliente.telefono}}</a>
                                        </strong> <br>
                                        Locación: - {{reser.locacion }}
                                    </div>
                                    <div class="col-12 order-0 order-md-1 col-md-auto text-end">
                                        <small>
                                            <span>Creada el: {{ reser.reserva.createdAt | date:" dd-MM-yyyy hh:mm
                                                a"}}</span>
                                            @if(reser.reserva.updatedAt !== reser.reserva.createdAt){
                                            <br>
                                            <span>Modificada el: {{ reser.reserva.updatedAt | date:"dd-MM-yyyy hh:mm
                                                a"}}</span>
                                            }
                                        </small>
                                    </div>
                                    <div class="col-auto align-items-end align-content-end text-end">
                                        <strong>{{ reser.total |currency:"US$ " }}</strong> <br> <span
                                            class=" fw-bold text-primary"> {{
                                            reser.total *
                                            tasadecambio |currency:" Bs " }} </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        @for (raso of reser.pedidos; track raso) {
                        <tr>
                            <td class="fw-bold">{{raso.cantidad}}</td>
                            <td>{{ reser?.locacion }}</td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        {{raso.producto}}<br><small><em>{{ raso.observacion }}</em></small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-check ">
                                    <label>
                                        @if(raso.estatus=='procesado'){
                                        <span class="text-primary">Listo</span>
                                        }@else {

                                        <span class="text-danger">
                                            Pendiente
                                        </span>
                                        }
                                        <input type="checkbox" class="form-check-input"
                                            [checked]="raso.estatus=='procesado'"
                                            (change)="procesarPedido(raso.id, raso.estatus)" id="">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>